@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    overflow: hidden;
}
.container{
    background-image: url('../img/background1.png');
    background-repeat: no-repeat;
    width: 1366px;
    margin: 2vw auto;
    
}
.flex-wrapper-logo-contacts{
    display: flex;
    justify-content: space-between;

}
.email,.phone-number{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
.logo-contacts{
    
    padding-top: 46px;
    padding-left: 180px;
    padding-right: 154px;
}
.logo{
    display: flex;


}
.logo-img{
        background-image: url(../img/logo\ 3.png);  /* Путь к файлу с исходным рисунком */      
        background-repeat: no-repeat;
        background-size: cover;
        width:53px;
        height:54px;
        padding-left: 58px;

}

.logo-img:hover {
        background-image:url(../img/logo3-hover.png); /* Путь к файлу с заменяемым рисунком */  
        background-repeat: no-repeat;
        background-size: cover;
        width:53px;
        height:54px;
}
.logo-img:hover+ .logo-title{
    color: #F26522;
}
.logo-link:hover+ .logo-title{
    color: #F26522;
}
.logo-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 29px;
    line-height: 29px;
    color: #ffffff;
    padding-left: 8px;
    

}
.logo-title:hover{
    color: #F26522;
}
.email{
    padding-right: 27px;
    transition: 0.5s color;
}
.email:hover{
    color: #F26522;
}
.phone-number{
    padding-left: 15px;
    padding-top: 19px;
    transition: 0.5s color;
}
.phone-number:hover{
    color: #F26522;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    padding-left: 154px;
    padding-right: 154px;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
    position: relative;
    grid-row-gap: 37px;
}
.title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    padding-top: 20px;

}
.img-container{
    position: relative;
}

.hidden--hover{
    background:#F26522;
    position: absolute;
    height: 55px;
    left: 2px;
    top: 165px;
    width: 297px;
    opacity:0;
    transition: 1s;
}
.fix-width{
    width: 292px;
    left: 4px;
    top: 156px;
}
.from{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding: 7px 0px 0px 16px;
}
.price-and-details-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 8px;
}
.price-and-details-element{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding-left: 16px;
}
.view-details{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
    padding-bottom: 3px;
    margin-left: auto;
    padding-right: 35px;
}
.view-details-link{
    color: #ffffff;
        
}
.view-details-link::after{
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    position: absolute;
    left: 270px;
    bottom: 13px;
    background: url("../img/right-thin-chevron-svgrepo-com.svg") no-repeat top right;
    width: 14px;
    height: 12px; 
    
}
.grid-image:hover+ .hidden--hover{
    opacity:1;
    transition: 1s;
}
.img-link:hover+ .hidden--hover{
    opacity:1;
    transition: 1s;
}
.hidden--hover:hover{
    opacity:1;
    transition: 1s;
}
.copyright-footer{
    margin-top: 49px;
    text-align: center;
    padding-bottom: 15px;
}
.copyright{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;

}